*{
    padding: 0px;
    margin: 0px;
}
.main{
    height: 100vh;
    background-image: url(../images/backabout.jpg);
    background-size: 100% 100%;
}
.navbar ul{
    display: flex;
    justify-content:center;
    padding: 20px 15px;
    background-color: beige;
    
}
 
.navbar ul li {
    list-style-type: none;
      padding: 0px 20px;
}
.navbar ul li a{
    text-decoration: none;
     padding: 10px 20px ;
     font-size: 25px;
}
.navbar ul li a:hover{
    text-decoration: none;
   background-color:#3569AE;
   color: white;
   border-radius:   10%;
}
.about{
  
   margin-top:  160px;
    justify-content: center;
   text-align: center;
}
h3{
    margin: 20px;
}
